---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Projects from "@/components/Projects.astro";
import TitleSection from "@/components/TitleSection.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";

import CodeComputer from "@/components/icons/CodeComputer.astro";
import LogoWall from "@/components/LogoWall.astro";
---

<Layout
  title="Portafolio de Vicente Alarcón - Ingeniero Civil en Computación e Informática"
  description="Portafolio de Vicente Alarcón, Ingeniero Civil en Computación e Informática. Experiencia en desarrollo full-stack, análisis de datos y docencia. Proyectos destacados incluyen CRM para ventas en terreno y landing page para consultora de TI."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36 space-y-10">
      <Hero />
      <LogoWall />
    </SectionContainer>

    <div class="space-y-24">
      <!-- <SectionContainer id="tecnologias">
        <TitleSection>
          <CodeComputer class="size-7" />
          Tecnologías
        </TitleSection>
        <Technology />
      </SectionContainer> -->

      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" /> Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main></Layout
>
