---
import Layout from "@/layouts/Layout.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
---

<Layout
  title="Porfolio de Vicente Alarcón - Ingeniero Civil en Computación e Informática"
  description="Contrata a Vicente Alarcón para crear tu aplicación web o móvil."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main></Layout
>
