---
import Tecnos_icons from "./Tecnos_icons.astro";
import Javascript from "./icons/Javascript.astro";
import Typescript from "./icons/TypescriptIcon.astro";
import MySQL from "./icons/Mysql.astro";
import Postgresql from "./icons/Postgresql.astro";
import SQLServer from "./icons/SQLServer.astro";
import MicrosoftPowerBi from "./icons/MicrosoftPowerBi.astro";
import Vue from "./icons/Vue.astro";
import Docker from "./icons/Docker.astro";
import Express from "./icons/Express.astro";
import NextJS from "./icons/NextJS.astro";
import Nestjs from "./icons/Nestjs.astro";
import React from "./icons/React.astro";
import Python from "./icons/Python.astro";
import Tailwind from "./icons/Tailwind.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import Supabase from "./icons/Supabase.astro";
import Firebase from "./icons/Firebase.astro";
import GCP from "./icons/GCP.astro";
---

<div class="flex flex-col items-center">
  <h2 class="text-4xl pb-10 flex gap-x-3 items-center text-center mb-4"></h2>

  {/* GRID 2x2: títulos alineados */}
  <div
    class="w-full max-w-5xl grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-12 p-4 items-start"
  >
    {/* 1) Lenguajes */}
    <section class="flex flex-col items-center">
      <h3 class="text-2xl mb-6 text-center text-black dark:text-white">
        Lenguajes
      </h3>

      <ul
        class="flex flex-wrap justify-center md:justify-start gap-4"
        role="list"
      >
        <li>
          <Tecnos_icons title="HTML"><HTML class="w-12 h-12" /></Tecnos_icons>
        </li>
        <li>
          <Tecnos_icons title="CSS"><CSS class="w-12 h-12" /></Tecnos_icons>
        </li>
        <li>
          <Tecnos_icons title="JavaScript"
            ><Javascript class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="TypeScript"
            ><Typescript class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="Python"
            ><Python class="w-12 h-12" /></Tecnos_icons
          >
        </li>
      </ul>
    </section>

    {/* 2) Bases de Datos */}
    <section class="flex flex-col items-center">
      <h3 class="text-2xl mb-6 text-center text-black dark:text-white">
        Bases de Datos
      </h3>

      <ul
        class="flex flex-wrap justify-center md:justify-start gap-4"
        role="list"
      >
        <li>
          <Tecnos_icons title="MySQL"><MySQL class="w-12 h-12" /></Tecnos_icons>
        </li>
        <li>
          <Tecnos_icons title="PostgreSQL"
            ><Postgresql class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="SQL Server"
            ><SQLServer class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="Supabase"
            ><Supabase class="w-12 h-12" /></Tecnos_icons
          >
        </li>
      </ul>
    </section>

    {/* 3) Frameworks y Librerías */}
    <section class="flex flex-col items-center">
      <h3 class="text-2xl mb-6 text-center text-black dark:text-white">
        Frameworks y Librerías
      </h3>

      <ul
        class="flex flex-wrap justify-center md:justify-start gap-4"
        role="list"
      >
        <li>
          <Tecnos_icons title="React"><React class="w-12 h-12" /></Tecnos_icons>
        </li>
        <li>
          <Tecnos_icons title="Next.js"
            ><NextJS class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="NestJS"
            ><Nestjs class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="Express"
            ><Express class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="Vue"><Vue class="w-12 h-12" /></Tecnos_icons>
        </li>
        <li>
          <Tecnos_icons title="Tailwind CSS"
            ><Tailwind class="w-12 h-12" /></Tecnos_icons
          >
        </li>
      </ul>
    </section>

    {/* 4) Herramientas Adicionales */}
    <section class="flex flex-col items-center">
      <h3 class="text-2xl mb-6 text-center text-black dark:text-white">
        Herramientas Adicionales
      </h3>

      <ul
        class="flex flex-wrap justify-center md:justify-start gap-4"
        role="list"
      >
        <li>
          <Tecnos_icons title="Docker"
            ><Docker class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="Google Cloud Platform"
            ><GCP class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="Microsoft Power BI"
            ><MicrosoftPowerBi class="w-12 h-12" /></Tecnos_icons
          >
        </li>
        <li>
          <Tecnos_icons title="Firebase"
            ><Firebase class="w-12 h-12" /></Tecnos_icons
          >
        </li>
      </ul>
    </section>
  </div>
</div>
